<!DOCTYPE html>
<html>
	<head>
	  <title>Your Backyard</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %> <%# Rails knows where to find the file due to internal naming conventions %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
